<!doctype HTML>
<head>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="og:title" content="{{title}}" />
  <meta name="og:image" content="{{imagePath}}">
  <style>
    img { background: blue; border: green solid 5px; }
    p { background: red; }
  </style>
</head>
<body>
  <img alt="" src="{{imagePath}}" />
  <p>Cast by multipl</p>
</body>
</html>
